.info {
    border-radius: 12px;
    padding: 16px;
    text-align: center;
    margin-top: 16px;
    margin-left: auto; /* Centrar automáticamente */
    margin-right: auto; /* Centrar automáticamente */
    width: 50%; /* Ajustar el tamaño */
    background-color: #d7ccc8; /* Tono café claro */
    color: #4e342e; /* Texto en café oscuro */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombras suaves */
  }
  