.info {
    border-radius: 12px;
    padding: 16px;
    text-align: center;
    margin-top: 16px;
    margin-left: auto; /* Centrar automáticamente */
    margin-right: auto; /* Centrar automáticamente */
    width: 50%; /* Ajustar el tamaño */
    background-color: #d7ccc8; /* Tono café claro */
    color: #4e342e; /* Texto en café oscuro */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombras suaves */
  }
  .info-box {
    border: 1px solid #8d6e63; /* Café neutro para el borde */
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    margin-top: 5%;
    margin-left: auto; /* Centrar automáticamente */
    margin-right: auto; /* Centrar automáticamente */
    width: 60%; /* Ajustar el tamaño */
    background-color: #efebe9; /* Tono café muy claro para el fondo */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombras suaves para un diseño moderno */
  }